# Loại bỏ các thư mục dữ liệu và mô hình (Nặng, không đẩy lên web)
data/
models/
speedy_data/
*.pt
*.pth
*.bin
*.ckpt

# Loại bỏ các file rác của Python và hệ thống
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.ipynb_checkpoints/

# Loại bỏ logs và kết quả huấn luyện
logs/
results/
*.log